/* Private clients | Green */
[data-theme='pc'] {
  --color-primary-main: #42ab44;
  --color-primary-hover: #248341;
  --color-primary-active: #245f34;
  --color-secondary-hover: #c5e2c6;
  --color-secondary-active: #d8f2d9;
}
/* Business clients | Light-Green */
[data-theme='bc'] {
  --color-primary-main: #83b83e;
  --color-primary-hover: #5c921d;
  --color-primary-active: #3c5e10;
  --color-secondary-hover: #e8f4d9;
  --color-secondary-active: #d8e3ca;
}
/* Ecosystem own | Yellow */
[data-theme='eo'] {
  --color-primary-main: #ddb63d;
  --color-primary-hover: #bb9727;
  --color-primary-active: #7e630c;
  --color-secondary-hover: #f1ecdd;
  --color-secondary-active: #e5dec7;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotate-180 {
    transform: rotate(180deg);
  }

  .-translate-x-full {
    transform: translateX(-100%);
  }

  .animate-progress-1 {
    animation: progress 1s linear;
  }
  .animate-progress-2 {
    animation: progress 2s linear;
  }
  .animate-progress-3 {
    animation: progress 3s linear;
  }
  .animate-progress-4 {
    animation: progress 4s linear;
  }
  .animate-progress-5 {
    animation: progress 5s linear;
  }
  .animate-progress-6 {
    animation: progress 6s linear;
  }
  .animate-progress-7 {
    animation: progress 7s linear;
  }
  .animate-progress-8 {
    animation: progress 8s linear;
  }
  .animate-progress-9 {
    animation: progress 9s linear;
  }
  .animate-progress-10 {
    animation: progress 10s linear;
  }

  .to-slide-2 {
    transform: translateX(-100%);
  }
  .to-slide-3 {
    transform: translateX(-200%);
  }
  .to-slide-4 {
    transform: translateX(-300%);
  }

  @keyframes progress {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0px);
    }
  }
}
